.course-left-section-panel {
  padding: 0 0 0 0;
}

.course-left-section-panel-title {
  font-weight: bold;
}

.course-left-section-title {
  margin: 0 0 0 10px;
}

.course-left-section-topic-container {
  width: 100%;
}
