<mat-card class="navbar-container">
  <div class="navbar-sections">

  </div>
  <div class="navbar-sections">
    <a routerLink="/">
      <img class="navbar-image" src="assets/technicalbusinessessentialsopacity.png"/>
    </a>
  </div>
  <div *ngIf="getUser().firstName !== ''" class="navbar-login-section">
    <a class="navbar-login-link">
      <h2>Welcome, {{getUser().firstName}}</h2>
      <button (click)="logout()" mat-button class="accent-background navbar-login-button">Logout</button>
    </a>
  </div>
  <div *ngIf="getUser().firstName === ''" class="navbar-login-section">
    <a routerLink="/login" class="navbar-login-link">
      <button mat-button class="accent-background navbar-login-button">Login</button>
    </a>
  </div>
</mat-card>
<mat-card
  class="primary-background navbar-navigation-container">
  <button mat-button class="navbar-link"
          [matMenuTriggerFor]="businessActions">
    Business Actions
  </button>
  <mat-menu #businessActions="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="accounting">Accounting</button>
  </mat-menu>

  <mat-menu #accounting="matMenu">
    <button mat-menu-item>Sock Tickers</button>
    <button mat-menu-item><a routerLink="./fortune-fivehundred/companies">Fortune 500</a></button>
  </mat-menu>

  <button mat-button
          class="navbar-link"
          [matMenuTriggerFor]="coursesId">
    Courses
  </button>

  <mat-menu
    #coursesId>

    <button mat-menu-item
            [matMenuTriggerFor]="sectionId"
            *ngFor="let course of courses"><a [routerLink]="['/course']"
                                              [queryParams]="{courseId: course.id}">{{course.title}}</a>
      <mat-menu
        #sectionId>
        <button mat-menu-item
                [matMenuTriggerFor]="topicId"
                *ngFor="let section of course.sections">
          <a [routerLink]="['/course']"
             [queryParams]="{courseId: course.id, sectionId: section.id}">{{section.title}}</a>
          <mat-menu
            #topicId>
            <button mat-menu-item
                    *ngFor="let topic of section.topics">
              <a [routerLink]="['/course']"
                 [queryParams]="{id: course.id, sectionId: section.id, topicId: topic.id}">{{topic.title}}</a>
            </button>
          </mat-menu>
        </button>
      </mat-menu>
    </button>
  </mat-menu>
</mat-card>
