<div class="primary-background footer-container">
  <div class="footer-left-container">
    <div class="footer-left-inner-container">
      <div class="footer-left-logo-container">
        <img class="footer-left-logo"
             src="assets/technicalbusinessessentialsopacity.png"/>
      </div>
      <div class="footer-left-copyright">
        <small>Copyright &copy; 2021</small>
        <small>All Rights Reserved</small>
      </div>
    </div>
    <div class="footer-left-sub-titles">
      <h3>Title1</h3>
      <a>Sub1</a>
      <a>Sub2</a>
      <a>Sub3</a>
    </div>
    <div class="footer-left-sub-titles">
      <h3>Title2</h3>
      <a>Sub1</a>
      <a>Sub2</a>
      <a>Sub3</a>
    </div>
    <div class="footer-left-sub-titles">
      <h3>Title3</h3>
      <a>Sub1</a>
      <a>Sub2</a>
      <a>Sub3</a>
    </div>
  </div>
  <div class="footer-right-container">
    <div
      class="footer-right-inner-container">
      <button mat-button class="accent-background">Submit Suggestions</button>
      <div
        class="footer-right-social-media-container">
        <div class="footer-right-social-media-inner-container">
          <mat-icon>facebook</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
