<div class="fortune-fivehundred-companies-info">
  <mat-card>
    <mat-card-header class="fortune-fivehundred-card-header">
      <mat-card-title>Fortune 500 Companies</mat-card-title>
    </mat-card-header>
    <div class="fortune-fivehundred-card">
      <app-datepicker-range
        (output)="dateRange = $event">
      </app-datepicker-range>
    </div>
    <div
      class="fortune-fivehundred-companies-button-container">
      <button (click)="submit()" mat-button class="primary-background fortune-fivehundred-companies-button">Submit
      </button>
    </div>
  </mat-card>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="{{displayColumns[0]}}">
        <th mat-header-cell *matHeaderCellDef> Rank</th>
        <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="{{displayColumns[1]}}">
        <th mat-header-cell *matHeaderCellDef> Revenue</th>
        <td mat-cell *matCellDef="let element"> {{element.revenues}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="{{displayColumns[2]}}">
        <th mat-header-cell *matHeaderCellDef> Revenue % Change</th>
        <td mat-cell *matCellDef="let element"> {{element.revenuePercentChange}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="{{displayColumns[3]}}">
        <th mat-header-cell *matHeaderCellDef> Profits</th>
        <td mat-cell *matCellDef="let element"> {{element.profits}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[4]}}">
        <th mat-header-cell *matHeaderCellDef> Profits % Change</th>
        <td mat-cell *matCellDef="let element"> {{element.profitsPercentChange}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[5]}}">
        <th mat-header-cell *matHeaderCellDef> Assets</th>
        <td mat-cell *matCellDef="let element"> {{element.assets}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[6]}}">
        <th mat-header-cell *matHeaderCellDef> Market Value</th>
        <td mat-cell *matCellDef="let element"> {{element.marketValue}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[7]}}">
        <th mat-header-cell *matHeaderCellDef> Change In Rank (1000)</th>
        <td mat-cell *matCellDef="let element"> {{element.changeInRank500}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[8]}}">
        <th mat-header-cell *matHeaderCellDef> Employees</th>
        <td mat-cell *matCellDef="let element"> {{element.employees}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[9]}}">
        <th mat-header-cell *matHeaderCellDef> Change In Rank (500)</th>
        <td mat-cell *matCellDef="let element"> {{element.changeInRank500}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[10]}}">
        <th mat-header-cell *matHeaderCellDef> Measure Up Rank</th>
        <td mat-cell *matCellDef="let element"> {{element.measureUpRank}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[11]}}">
        <th mat-header-cell *matHeaderCellDef> Company</th>
        <td mat-cell *matCellDef="let element"> {{element.company}} </td>
      </ng-container>
      <ng-container matColumnDef="{{displayColumns[12]}}">
        <th mat-header-cell *matHeaderCellDef> Sector</th>
        <td mat-cell *matCellDef="let element"> {{element.sector}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[13]}}">
        <th mat-header-cell *matHeaderCellDef> Industry</th>
        <td mat-cell *matCellDef="let element"> {{element.industry}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[14]}}">
        <th mat-header-cell *matHeaderCellDef> Headquarters City</th>
        <td mat-cell *matCellDef="let element"> {{element.headquartersCity}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[15]}}">
        <th mat-header-cell *matHeaderCellDef> Headquarters State</th>
        <td mat-cell *matCellDef="let element"> {{element.headquartersState}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[16]}}">
        <th mat-header-cell *matHeaderCellDef> Gained In Rank</th>
        <td mat-cell *matCellDef="let element"> {{element.gainedInRank}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[17]}}">
        <th mat-header-cell *matHeaderCellDef> Dropped In Rank</th>
        <td mat-cell *matCellDef="let element"> {{element.droppedInRank}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[18]}}">
        <th mat-header-cell *matHeaderCellDef> Newcomer To The Fortune 500</th>
        <td mat-cell *matCellDef="let element"> {{element.newcomerToTheFortune500}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[19]}}">
        <th mat-header-cell *matHeaderCellDef> Profitable</th>
        <td mat-cell *matCellDef="let element"> {{element.profitable}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[20]}}">
        <th mat-header-cell *matHeaderCellDef> Founder Is CEO</th>
        <td mat-cell *matCellDef="let element"> {{element.founderIsCEO}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[21]}}">
        <th mat-header-cell *matHeaderCellDef> Female CEO</th>
        <td mat-cell *matCellDef="let element"> {{element.femaleCEO}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[22]}}">
        <th mat-header-cell *matHeaderCellDef> Growth In Jobs</th>
        <td mat-cell *matCellDef="let element"> {{element.growthInJobs}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[23]}}">
        <th mat-header-cell *matHeaderCellDef> Global 500</th>
        <td mat-cell *matCellDef="let element"> {{element.global500}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[24]}}">
        <th mat-header-cell *matHeaderCellDef> Best Companies</th>
        <td mat-cell *matCellDef="let element"> {{element.bestCompanies}} </td>
      </ng-container>

      <ng-container matColumnDef="{{displayColumns[25]}}">
        <th mat-header-cell *matHeaderCellDef> Measure Up</th>
        <td mat-cell *matCellDef="let element"> {{element.measureUp}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
