<div class="fortune-fivehundred-companies-info">
  <mat-card>
    <mat-card-header class="fortune-fivehundred-card-header">
      <mat-card-title>Fortune 500 Companies (1996 - {{currYear}})</mat-card-title>
    </mat-card-header>
    <div class="fortune-fivehundred-card">
      <app-datepicker-range
        (output)="dateRange = $event">
      </app-datepicker-range>
    </div>
    <div
      class="fortune-fivehundred-companies-button-container">
      <button (click)="submit()" mat-button class="primary-background fortune-fivehundred-companies-button">Submit
      </button>
    </div>
  </mat-card>

  <div [hidden]="displayCompany.length <= 0"
       class="mat-elevation-z8 fortune-fivehundred-table">
    <div class="mat-elevation-z3 primary-background fortune-fivehundred-years-container">
      <h2 class="fortune-fivehundred-years">Years</h2>
      <hr/>
      <ng-container *ngFor="let year of allYears">
        <button *ngIf="year === displayYear" class="secondary" mat-button>{{year}}</button>
        <button hover-class="secondary" *ngIf="year !== displayYear" (click)="yearSelected(year)"
                mat-button>{{year}}</button>
        <br/>
      </ng-container>
      <hr/>
      <button hover-class="secondary" (click)="exportData()" mat-button>Export Selected</button>
      <br/>
      <button hover-class="secondary" (click)="exportAllData()" mat-button>Export All</button>
      <br/>
    </div>

    <table mat-table [dataSource]="dataSource">
      <ng-container *ngFor="let keyCol of displayKeyColumns; let i = index"
                    matColumnDef="{{keyCol}}">
        <th mat-header-cell *matHeaderCellDef>
          <p *ngIf="displayColumns[i] !== undefined">{{displayColumns[i]}}</p>
          <p *ngIf="displayColumns[i] === undefined">{{formatHeaderCell(keyCol)}}</p>
        </th>
        <td mat-cell *matCellDef="let element"> {{formatCell(element[keyCol], displayColumns[i] || '')}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayKeyColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayKeyColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
  </div>
</div>
