<div class="course-container">
  <div class="course-left-border-container">
    <div class="course-left-container">
      <div class="course-left-inner-container">
        <div
          class="course-left-title-container">
          <h2>{{course.title}}</h2>
          <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          <span class="course-left-progress-percent">40% complete</span>
        </div>
        <div class="course-left-sections-container">
          <mat-accordion *ngFor="let section of course.sections" class="course-left-section">
            <mat-expansion-panel class="course-left-section-panel">
              <mat-expansion-panel-header>
                <mat-panel-title class="course-left-section-panel-title">
                  {{section.title}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="course-left-section-topic-container" *ngFor="let topic of section.topics">
                <mat-action-row
                  class="course-left-section-topic-row">
                  <button mat-flat-button
                          class="course-left-section-topic-title">
                    {{topic.title}}
                  </button>
                </mat-action-row>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>
  <div class="course-right-container">
    <div class="course-right-inner-container">
      <h2 class="course-right-title">{{selectedTopic.title}}</h2>
      <div class="course-right-video-container">
        <iframe
          width="100%"
          height="500"
          src="https://www.youtube.com/embed/Tm8LGxTLtQk"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p>{{selectedTopic.description}}</p>
      </div>

      <div *ngFor="let activity of selectedTopic.activities;
           let i = index"
           class="course-right-activity-container">
        <p class="course-right-activity-description">{{i + 1}}: {{activity.description}}</p>
        <textarea class="course-right-activity-code-sample" [value]="activity.sampleCode"></textarea>
      </div>
    </div>
  </div>
</div>
