<div class="register-container">
  <mat-card class="register-card-container">
    <mat-card-header class="register-card-header">
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <div class="register-card">
      <app-input
        [label]="'Email'"
        (output)="email = $event">
      </app-input>
      <app-input
        [label]="'Password'"
        [type]="'password'"
        (output)="password = $event">
      </app-input>
      <app-input
        [label]="'First Name'"
        (output)="firstName = $event">
      </app-input>
      <app-input
        [label]="'Last Name'"
        (output)="lastName = $event">
      </app-input>
      <div
        class="register-button-container">
        <button
          [ngClass]="!isValid() ? 'register-button-disabled' : 'primary-background'"
          class="register-button"
          mat-button
          [disabled]="!isValid()"
          (click)="register()">Submit
        </button>
      </div>
    </div>
  </mat-card>
</div>
