<div class="login-container">
  <mat-card class="login-card-container">
    <mat-card-header class="login-card-header">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <div class="login-card">
      <app-input
        [label]="'Username'"
        (output)="email = $event">
      </app-input>
      <app-input
        [label]="'Password'"
        [type]="'password'"
        (output)="password = $event">
      </app-input>
      <div
        class="login-button-container">
        <button
          [ngClass]="!isValid() ? 'login-button-disabled' : 'primary-background'"
          class="login-button"
          mat-button
          [disabled]="!isValid()"
          (click)="login()">Submit
        </button>
      </div>
    </div>
  </mat-card>
  <div class="login-not-registered-container">
    <a routerLink="/register">Don't have an account yet? Register here.</a>
  </div>
</div>
