<div style="display: flex; width: 100%; height: 150px;"
     class="primary-background">
  <div style="display: flex; justify-content: flex-start; align-items: flex-start; width: 70%">
    <div style="display: flex; flex-direction: column; height: 100%">
      <div>Logo here</div>
      <div>Copyright here</div>
    </div>
    <div style="display: flex; flex-direction: column; height: 100%">
      <h3>Title1</h3>
      <div>Sub1</div>
      <div>Sub2</div>
      <div>Sub3</div>
    </div>
  </div>
  <div style="display: flex; justify-content: flex-start; align-items: center; width: 30%">
    <div style="display: flex; flex-direction: column; height: 100%; width: 100%">
      <button mat-button>Submit Suggestions</button>
      <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; width: 100%">
        <div>Soc1</div>
        <div>Soc2</div>
        <div>Soc3</div>
        <div>Soc4</div>
      </div>
    </div>
  </div>
</div>
