.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.register-card-container {
  width: 35%;
  height: 50%;
  padding: 30px;
  margin: 20px;
}

.register-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: whitesmoke;
}

.register-button {
  width: 45%;
  border-radius: 30px;
  font-size: 20px;
}
