.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.register-card-container {
  width: 35%;
  padding: 30px;
  margin: 125px 20px 20px 20px;
}

.register-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register-card-header {
  margin-bottom: 5px;
}

.register-button-disabled {
  background-color: lightgray;
}

.register-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: whitesmoke;
}

.register-button {
  width: 45%;
  border-radius: 30px;
  font-size: 20px;
}

app-input:not(:last-child) {
  margin-bottom: 5px;
}
