<mat-card class="navbar-container">
  <div class="navbar-sections">

  </div>
  <div class="navbar-sections">
    <a routerLink="/">
      <img class="navbar-image" src="assets/technicalbusinessessentialsopacity.png"/>
    </a>
  </div>
  <div class="navbar-login-section">
    <a routerLink="/login" class="navbar-login-link">
      <button mat-button class="accent-background navbar-login-button">Login</button>
    </a>
  </div>
</mat-card>
<mat-card
  class="primary-background navbar-navigation-container">
  <button mat-button class="navbar-link"
          [matMenuTriggerFor]="businessActions">
    Business Actions
  </button>
  <mat-menu #businessActions="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="accounting">Accounting</button>
  </mat-menu>

  <mat-menu #accounting="matMenu">
    <button mat-menu-item>Sock Tickers</button>
    <button mat-menu-item><a routerLink="/fortune-fivehundred">Fortune 500</a></button>
  </mat-menu>

  <button mat-button class="navbar-link" [matMenuTriggerFor]="apComputerScience">AP
    Computer Science
  </button>
  <mat-menu #apComputerScience="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="apComputerScienceLesson1">Lesson 1</button>
  </mat-menu>
  <mat-menu #apComputerScienceLesson1="matMenu">
    <button mat-menu-item>History of CS</button>
    <button mat-menu-item>Types</button>
  </mat-menu>
</mat-card>
