.course-left-section-topic-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 5px 10px 5px;
}

.course-left-section-topic-title {
  margin-left: 0;
  text-align: left;
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
  white-space: normal;
  font-weight: normal;
}
